
        #menu-section {
            padding: 1%;
        }
        .card-body {
            text-align: center;
        }
        .item-desc {
            background: rgb(165, 164, 164);
        }
        .item-name {
            background: green;
            color: white;
            padding: 10px;
        }
        .item-desc>p {
            font-size: 0.9rem;
            padding: 3px;
            font-weight: bold;
        }
        .card{
            transition: .4s;
        }
        .card:hover{
            transform: scale(1.1);
        }